.WritePage{
    width: 100%;
    height: 1000px;
    align-items: center;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
}
.intro{
    width: 70%;
}
.intro-item1{
    font-family: 'Noto Serif Korean';
}
.intro-item2{
    font-family: 'Noto Serif Korean';
}
.InputSection{
    width:70%;
}
.date{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.date-text{
    text-decoration: none;
    font-family: 'Noto Serif Korean';
    font-size: 20px;
    width: 100px;
    height: 100%;
    margin-right: 20px;
}
.custom-input{
    background-color: green;
    width: 220px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Noto Serif Korean';
    font-size: 20px;
    margin-left: 40px;
    cursor: pointer;
}
.emotion-item{
    margin: auto;
    font-family: 'Noto Serif Korean';
    font-size: 20px;
    align-items: center;
}
.emotion-item input{
    margin: 0px 30px;
}
.chinese{
    font-family: 'chinese';
    font-size: 20px;
}
.korean{
    font-family: 'Noto Serif Korean';
    font-size: 20px;
    margin-right: 50px;
}
.Title{
    width:70%;
    height: 50px;
    margin: 30px auto;
    resize: none;
    border-radius: 10px;
    font-size: 15px;
    line-height: 45px;
    text-indent: 20px;
    }
.Body{
    width: 70%;
    height: 500px;
    margin: 15px auto;
    resize: none;
    border-radius: 10px;
    font-size: 15px;
    line-height: 45px;
    text-indent: 20px;
}
textarea::placeholder{
    line-height: 45px;
    text-indent: 20px;
}
.SaveButton-Section{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.SaveButton{
    width: 100px;
    border: none;
    color:#000000;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Noto Serif Korean';
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}

