.WritePage{
    width: 100%;
    height: 1000px;
    align-items: center;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
}
.intro{
    width: 70%;
}
.intro-item1{
    font-family: 'JSongMyung-Regular-KO';
}
.intro-item2{
    font-family: 'JSongMyung-Regular-KO';
}
.InputSection{
    width:70%;
}
.date{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.date-text{
    text-decoration: none;
    font-family: 'JSongMyung-Regular-KO';
    font-size: 20px;
    width: 50px;
    margin-right: 20px;
}
.custom-input{
    background-color: white;
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    margin-left: 60px;
    cursor: pointer;
}

.emotion-item{
    background-color: white;
    margin: 20px 0px;
}
.chinese{
    font-family: 'chinese';
    font-size: 20px;
}
.korean{
    font-family: 'JSongMyung-Regular-KO';
    font-size: 20px;
    margin-right: 50px;
}
.Title{
    width:70%;
    height: 50px;
    margin: 15px auto;
    resize: none;
    border-radius: 10px;
}
.Body{
    width: 70%;
    height: 500px;
    margin: 15px auto;
    resize: none;
    border-radius: 10px;
}
textarea::placeholder{
    line-height: 35px;
    text-indent: 20px;
}
.SaveButton-Section{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.SaveButton{
    width: 10%;
    border: none;
    color:#000000;
    background-color: transparent;
    text-decoration: none;
    font-family: 'JSongMyung-Regular-KO';
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
/* .Entire {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fcfaf1;
}
.header {
    margin: 20px 0px 20px;
    color: #4A544A; 
    font-size: 150px;
    font-family: 'JSongMyung-Regular-KO';
    text-shadow: 5px 5px 0px #849d6A;
}
.sub-header {
    font-family: 'chinese';
    color: #4A544A;
    font-size: 40px;
    margin: 180px 0px 0px;
}
.login-button {
    border: none;
    border-radius: 35px;
    color:#4A544A;
    background-color: transparent;
    font-size: 35px;
    width: 200px;
    height: 60px;
    font-family: 'JSongMyung-Regular-KO';
}
.login-button:hover{
    border: none;
    border-radius: 35px;
    color:#FFD06A;
    background-color: transparent;
    font-size: 35px;
    width: 200px;
    height: 60px;
    font-family: 'JSongMyung-Regular-KO';
} */
