.input-item{
    width: 100%;
    justify-content: center;
    margin: 20px auto;
    padding: 50px;
    border-radius: 30px;
    font-family: 'JSongMyung-Regular-KO';
    font-size: 20px;
}
.Date{
    display: flex;
    margin: 20px auto;
}
.emotions {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.emotions-item { 
    width: 20%;
    display: flex;
    margin-right: 20px;
    text-align: center;
}
.text{
    display: flex;
    flex-direction: column;
    margin: 20px auto;

}
.title {
    display: flex;
    margin: 20px 0px;
}
.body {
    display: flex;
}
.DeleteSection{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.delete{
    background-color: transparent;
    font-family: 'JSongMyung-Regular-KO';
    font-size: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
}